body {background-color:#171717; color:White}

a:link {
  color:orange;
  background-color:transparent;
  text-decoration:none;
}

a:visited {
  color:#00D8FF;
  background-color:transparent;
  text-decoration:none;
}

a:hover {
  color:#74FF00;
  background-color:transparent;
  text-decoration:underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

aside {
  width: 40%;
  border: solid white 1px;
  padding-top: 5px;
  padding-left: 15px;
  margin-left: 15px;
  padding-bottom: 5px;
  float: right;
  font-style: italic;
  background-color: transparent;

}