body {background-color:#171717; color:White}

a:link {
  color:orange;
  background-color:transparent;
  text-decoration:none;
}

a:visited {
  color:#00D8FF;
  background-color:transparent;
  text-decoration:none;
}

a:hover {
  color:#74FF00;
  background-color:transparent;
  text-decoration:underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

aside {
  width: 40%;
  border: solid white 1px;
  /* Padding affects the text inside the aside tag and margin affects the text around it 
	So padding would affect how close the border is to the text and marging how close the paragraph
	text is to the aside*/
  padding-top: 5px;
  padding-left: 15px;
  margin-left: 40px;
  margin-bottom: 30px;
  padding-bottom: 5px;
  float: right;
  font-style: italic;
  background-color: transparent;

}